*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.header .first-image{
    background-color: beige;
    background-repeat: no-repeat;
    background-size:cover;
   background-image: url("../images/donation1.jpg");
    height: 620px;
    width: 100%;
    justify-content: center;
}
.first-image-title{
   color: white;
   justify-content: space-around;
   margin-bottom: 5px;
 
}
.first-image{
    text-align: center;
    justify-content: center;
    
}
.first-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-description{
    color: crimson;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}
.button-primary{
color: white;
 border: 0px;
 background-color:crimson;
 font-size: medium;
 font-weight: bold;
 padding: 5px 20px;
}
.second-page{
   margin: 100px 100px;
   text-align: center;

}
.second-page-title{
    margin-bottom: 5px;
    font-weight:900;
    font-size: 30px;
}
.taka-list{
  list-style: none;
  display: flex;
}
.taka-list li{
    margin-right: 80px;
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    margin-left: 150px;
    margin-bottom: 30px;
    font-size: medium;
    font-weight: bold;
    padding: 5px 20px;
}
.taka-list li:hover{
    background-color: black;
    border: 0px
}
.nd-button{
    border: 0px;
    font-size: medium;
    font-weight: bold;
    padding: 30px 20px;

}
.other-amount{
    border:0px;
    
}
.third-title{
    text-align: center;
    margin-bottom: 5px;
}
.box{
    display: flex;
}
.third-description{
    margin-bottom: 90px;
    text-align: center;
}
.inside-box{
    padding: 30px;
    margin: 0px 15px;
    background: pink;
    box-shadow: 0px 6px 50px rgb(0 0 0 / 6%);
    border-radius: 5px;
    margin-bottom: 50px;
    
    
}
.third{
    margin-bottom: 50px;
}
.first-image{
    display: flex;
}
.image-with-text{
    margin-bottom: 50px;
}
.main-div{
    display: flex;
}